<form method="post" action="{{ path('app_back_genre_delete', {'genreId': genre.genreId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.genreId) }}">
    <button class="btn btn-danger">Delete</button>
</form>
