<div class="col-12 col-lg-3">
    <h2 class="text-center text-muted fw-bold mb-4">Les genres</h2>
        <ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
        {% for genre in listGenre %}
            
            <a class="btn btn-sm btn-outline-danger mx-1 mb-2" href="{{path('movie_by_genre', {id: genre.genreId})}}">{{ genre.name }}</a>

        {% endfor %}    
            
        </ul>            
</div>
            
      