{% extends 'base.html.twig' %}

{% block title %}New Casting{% endblock %}

{% block body %}
<div class="container pt-5">

    <div class="row mb-2">

        <div class="col">  
            <h1>Create new Casting</h1>

                {{ include('back/casting/_form.html.twig') }}

                <a href="{{ path('app_back_casting_index') }}">Retour à la liste</a>
                
        </div>
    </div>
</div>               
            
            {% endblock %}


