

            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button class="btn btn-success mb-2" style="width: 105px;">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}

 